In [1]:
#Import necessary libraries

import pandas as pd
from sqlalchemy import create_engine
from psycopg2.extras import execute_batch
import psycopg2
import requests
import os
from dotenv import load_dotenv
from datetime import datetime, timedelta
import datetime
import re
from serpapi import GoogleSearch
from datasets import Dataset
from transformers import BertTokenizer
from transformers import BertForSequenceClassification, Trainer, TrainingArguments
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager
import time
import requests
from bs4 import BeautifulSoup
from tqdm import tqdm
from transformers import AutoModelForSequenceClassification, AutoTokenizer
from selenium.common.exceptions import NoSuchElementException, TimeoutException, WebDriverException

c:\Users\khach\OneDrive\Документы\project\venv\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

WARNING:tensorflow:From c:\Users\khach\OneDrive\Документы\project\venv\lib\site-packages\tf_keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
#Connecting to the database

load_dotenv()
host = 'localhost'
port = 5432 
user = 'postgres'
password = os.getenv('PASSWORD_DB')
db = 'postgres' 
conn = psycopg2.connect(host=host, port=port, user=user, password=password, dbname=db)
connection_string = f"postgresql://{user}:{password}@{host}/{db}"
engine = create_engine(connection_string)

---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
#Scrape news from CoinDesk

options = webdriver.ChromeOptions()


service = Service(ChromeDriverManager().install())
driver = webdriver.Chrome(service=service, options=options)
links = []
xpaths = []

for i in range(371):
    base_url = f'https://www.coindesk.com/tag/ethereum/{i}/'
    driver.get(base_url)
    print(i)

    for i in range(1,11):
        xpaths.append(f'//*[@id="fusion-app"]/div/div/div/main/div[2]/div/div[1]/div[{i}]') 

    for xpath in xpaths:
        try:
            articles_container = driver.find_element(By.XPATH, xpath)
        
            article_elements = articles_container.find_elements(By.XPATH, './/a')
        
            for article in article_elements:
                href = article.get_attribute('href')
                if href and href.startswith("https://www.coindesk.com/"):
                    links.append(href)
        except Exception as e:
            print(f"Error finding elements with XPath {xpath}: {e}")

    for i, link in enumerate(links, start=1):
        print(f"Link {i}: {link}")

    xpaths.clear()



driver.quit()

In [ ]:
def has_date(url):
    return bool(re.search(r'\d{4}/\d{2}/\d{2}', url))

links_step_2 = [url for url in links if has_date(url)]
links_end = list(set(links_step_2))
links_end

links_df= pd.DataFrame(links_end)
links_df.to_sql(name = 'links_df'
            , con = engine
            , index = False
            , if_exists ='replace')
links_df

In [ ]:
links_dic = {"text": [], "time": []}

def get_content(link):
    try:
        response = requests.get(link)
        soup = BeautifulSoup(response.content, 'html.parser')


        base_content = soup.find(attrs={"data-module-name": "article-body-no-right-rail"})
        if base_content:
            paragraphs = base_content.find_all('p')
            all_text = "\n".join(paragraph.get_text() for paragraph in paragraphs)
        else:
            all_text = "Content not found"


        time_element = soup.find(class_="iOUkmj")
        time = time_element.get_text() if time_element else "Time not found"

        links_dic['text'].append(all_text)
        links_dic["time"].append(time)

    except Exception as e:
        print(f"Error fetching content from {link}: {e}")

def get_contents(page_links):
    for page_link in tqdm(page_links, desc="Fetching content"):
        get_content(page_link)


get_contents(links_end)


news = pd.DataFrame(links_dic)
news

In [ ]:
# Cleaning and correcting data fetched from CoinDesk

news = news[~news['text'].str.contains('Error fetching content from')]

def convert_date(date_str):
    date_str_cleaned = date_str.split(' UTC')[0].strip()
    
    date_str_cleaned = date_str_cleaned.replace('p.m.', 'PM').replace('a.m.', 'AM')
    
    formats = [
        '%b %d, %Y at %I:%M %p',
        '%b %d, %Y at %H:%M %p'
    ]
    
    for fmt in formats:
        try:
            date_obj = datetime.strptime(date_str_cleaned, fmt)
            return date_obj.strftime('%Y-%m-%d %H:%M:%S')
        except ValueError:
            continue
    return None

news['time'] = news['time'].apply(convert_date)

news.dropna(inplace=True)

news['time'] = pd.to_datetime(news['time'], format='%Y-%m-%d %H:%M:%S')

news

In [3]:
# Fetch news data from NewsAPI, process it to extract relevant information, and clean the data

API_KEY = os.getenv('API_KEY_News_API')
BASE_URL = os.getenv('BASE_URL_News_API')

def fetch_news(query, from_date, to_date):
    params = {
        'q': query,
        'from': from_date,
        'to': to_date,
        'apiKey': API_KEY,
        'language': 'en'
    }
    response = requests.get(BASE_URL, params=params)
    
    if response.status_code == 200:
        data = response.json()
        articles = data.get('articles', [])
        return articles
    else:
        print(f"Error: {response.status_code}")
        print(response.text)
        return []

def save_news_to_csv(articles, filename):
    df = pd.DataFrame(articles)
    df.to_csv(filename, index=False)
    print(f"Saved {len(df)} articles to {filename}")

current_date = datetime.datetime.now()
from_date = (current_date - timedelta(days=30)).strftime('%Y-%m-%d')
to_date = (current_date).strftime('%Y-%m-%d')
articles = fetch_news('Ethereum', from_date, to_date)
news_api = pd.DataFrame(articles)
news_api

,source,author,title,description,url,urlToImage,publishedAt,content
0,"{'id': None, 'name': 'ReadWrite'}",Radek Zielinski,Ethereum launches $2M ‘Attackathon’ security a...,Ethereum’s (ETH) Ethereum Foundation is initia...,https://readwrite.com/ethereum-launches-2m-att...,https://readwrite.com/wp-content/uploads/2024/...,2024-07-09T09:53:35Z,Ethereum’s (ETH) Ethereum Foundation is initia...
1,"{'id': None, 'name': 'ReadWrite'}",Radek Zielinski,US Ethereum ETFs see net outflows on second tr...,"On their second day of trading, United States-...",https://readwrite.com/us-ethereum-etfs-see-net...,https://readwrite.com/wp-content/uploads/2024/...,2024-07-25T16:37:37Z,"On their second day of trading, United States-..."
2,"{'id': None, 'name': 'ReadWrite'}",Alvin Hemedez,Ethereum Price Prediction July 2024 and a New ...,Ethereum is currently facing strong selling pr...,https://readwrite.com/ethereum-price-predictio...,https://readwrite.com/wp-content/uploads/2024/...,2024-07-10T08:39:19Z,Ethereum is currently facing strong selling pr...
3,"{'id': None, 'name': 'ReadWrite'}",Radek Zielinski,Spot Ethereum ETFs Set to Launch in US on July 23,The Securities and Exchange Commission (SEC) h...,https://readwrite.com/spot-ethereum-etfs-set-t...,https://readwrite.com/wp-content/uploads/2024/...,2024-07-23T17:32:29Z,The Securities and Exchange Commission (SEC)ha...
4,"{'id': None, 'name': 'ReadWrite'}",Radek Zielinski,Ethereum co-founder urges broader political pe...,"Vitalik Buterin, Ethereum’s (ETH) co-founder, ...",https://readwrite.com/ethereum-co-founder-vita...,https://readwrite.com/wp-content/uploads/2024/...,2024-07-18T21:06:40Z,"Vitalik Buterin, Ethereum’s (ETH) co-founder, ..."
...,...,...,...,...,...,...,...,...
95,"{'id': None, 'name': 'ReadWrite'}",Alvin Hemedez,Trending Base Meme Coin Predicted to Surge 10x...,"Experts predict that Toshi, one of the most po...",https://readwrite.com/trending-base-meme-coin-...,https://readwrite.com/wp-content/uploads/2024/...,2024-07-28T13:04:57Z,"Experts predict that Toshi, one of the most po..."
96,"{'id': None, 'name': 'ReadWrite'}",Alvin Hemedez,Andrew Tate Pumps $Daddy Token – Could We See ...,"Andrew Tate is once again in the spotlight, th...",https://readwrite.com/andrew-tate-pumps-daddy-...,https://readwrite.com/wp-content/uploads/2024/...,2024-06-30T17:36:23Z,"Andrew Tate is once again in the spotlight, th..."
97,"{'id': None, 'name': 'ReadWrite'}",Alvin Hemedez,Fastest-Growing P2E Meme Coin Gem with 100x Po...,"Despite a slight dip in the overall market, Pl...",https://readwrite.com/fastest-growing-p2e-meme...,https://readwrite.com/wp-content/uploads/2024/...,2024-06-30T13:27:56Z,"Despite a slight dip in the overall market, Pl..."
98,"{'id': None, 'name': 'Forbes'}","Korok Ray, Contributor, \n Korok Ray, Contribu...",Is The Ethereum ETF Good For Bitcoin?,his surprised me along with many others (and m...,https://www.forbes.com/sites/digital-assets/20...,https://imageio.forbes.com/specials-images/ima...,2024-07-24T15:32:23Z,Visual representation of the digital Cryptocur...
99,"{'id': None, 'name': 'Forbes'}","Clem Chambers, Senior Contributor, \n Clem Cha...",Will Ethereum Catch Up With Bitcoin?,"Since the bottom of the crypto winter, bitcoin...",https://www.forbes.com/sites/digital-assets/20...,https://imageio.forbes.com/specials-images/ima...,2024-07-23T14:33:07Z,getty\r\ngetty\r\nWhen two linked assets diver...

In [ ]:
# Fetch news from Google News


def fetch_all_ethereum_news(api_key, query="Ethereum", results_per_page=10):
    articles = []
    start = 0
    
    while True:
        params = {
            "engine": "google",
            "q": query,
            "tbm": "nws",
            "api_key": api_key,
            "num": results_per_page,
            "start": start
        }
        
        search = GoogleSearch(params)
        results = search.get_dict()
        
        news_results = results.get("news_results", [])
        if not news_results:
            break
        
        for news in news_results:
            article = {
                "title": news.get("title"),
                "snippet": news.get("snippet"),
                "date": news.get("date"),
                "link": news.get("link")
            }
            articles.append(article)
        
        start += results_per_page
    
    return pd.DataFrame(articles)


api_key = os.getenv('api_key_google')
news_df = fetch_all_ethereum_news(api_key)
news_df

In [13]:
# Convert the publication time from Google News to a standard datetime format

from datetime import datetime, timedelta

def convert_relative_time(time_str):

    hour_pattern = re.compile(r'(\d+)\s*hour')
    minute_pattern = re.compile(r'(\d+)\s*minute')
    day_pattern = re.compile(r'(\d+)\s*day')
    week_pattern = re.compile(r'(\d+)\s*week')
    month_pattern = re.compile(r'(\d+)\s*month')

    hours_match = hour_pattern.search(time_str)
    minutes_match = minute_pattern.search(time_str)
    days_match = day_pattern.search(time_str)
    weeks_match = week_pattern.search(time_str)
    months_match = month_pattern.search(time_str)

    hours = int(hours_match.group(1)) if hours_match else 0
    minutes = int(minutes_match.group(1)) if minutes_match else 0
    days = int(days_match.group(1)) if days_match else 0
    weeks = int(weeks_match.group(1)) if weeks_match else 0
    months = int(months_match.group(1)) if months_match else 0


    if hours > 0 or minutes > 0 or days > 0 or weeks > 0 or months > 0:
        absolute_time = datetime.now() - timedelta(
            hours=hours,
            minutes=minutes,
            days=days + weeks * 7
        ) - timedelta(days=months * 30)
        return absolute_time.strftime('%Y-%m-%d %H:%M:%S')
    
    return time_str



news_df['date'] = news_df['date'].apply(convert_relative_time)

news_df

In [15]:
from datetime import datetime, timedelta
def remove_newlines(text):
    return text.replace('\n', ' ')

news_df['snippet'] = news_df['snippet'].apply(remove_newlines)

def convert_date(date_str):
    for fmt in ('%Y-%m-%d %H:%M:%S', '%b %d, %Y'):
        try:
            return datetime.strptime(date_str, fmt).strftime('%Y-%m-%d %H:%M:%S')
        except ValueError:
            continue
    return None

news_df['date'] = news_df['date'].apply(convert_date)

---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [54]:
# Fetch OHLC price data from Binance API at minute intervals

import datetime

API_KEY = os.getenv('API_KEY_OHLC')
BASE_URL = os.getenv('BASE_URL_OHLC')

def get_binance_ohlc(symbol, interval, start_time, end_time):
    params = {
        'symbol': symbol,
        'interval': interval,
        'startTime': int(start_time.timestamp() * 1000),
        'endTime': int(end_time.timestamp() * 1000),
        'limit': 1000
    }
    response = requests.get(BASE_URL, params=params, headers={'X-MBX-APIKEY': API_KEY})
    
    if response.status_code == 200:
        return response.json()
    else:
        print(f"Error: {response.status_code}")
        print(response.text)
        return None

def format_data(data):
    formatted_data = []
    for item in data:
        timestamp = item[0] / 1000
        date_time = datetime.datetime.fromtimestamp(timestamp)
        formatted_data.append({
            'datetime': date_time,
            'open': float(item[1]),
            'high': float(item[2]),
            'low': float(item[3]),
            'close': float(item[4])
        })
    return formatted_data

time = []
end_date = datetime.datetime.now()
start_date = news['time'].min()

while end_date > start_date:
    start_interval = end_date - datetime.timedelta(minutes=1000)
    data = get_binance_ohlc('ETHUSDT', '1m', start_interval, end_date)
    
    if data:
        formatted_data = format_data(data)
        time.extend(formatted_data)
    
    end_date = start_interval

ohlc_df = pd.DataFrame(time)
ohlc_df

                   datetime     open     high      low    close
0       2024-07-25 20:07:00  3143.93  3143.93  3139.37  3140.64
1       2024-07-25 20:08:00  3140.65  3141.47  3135.17  3135.81
2       2024-07-25 20:09:00  3135.82  3141.59  3133.33  3140.93
3       2024-07-25 20:10:00  3140.93  3142.86  3139.36  3139.40
4       2024-07-25 20:11:00  3139.41  3142.00  3137.60  3137.61
...                     ...      ...      ...      ...      ...
3642050 2017-08-17 19:22:00   308.71   308.71   308.03   308.03
3642051 2017-08-17 19:23:00   308.03   308.03   307.86   307.86
3642052 2017-08-17 19:24:00   307.86   308.03   307.86   307.86
3642053 2017-08-17 19:25:00   307.87   307.87   307.87   307.87
3642054 2017-08-17 19:26:00   307.87   307.97   307.87   307.87

[3642055 rows x 5 columns]

In [4]:
# Fetch OHLC price data from Binance API at hourly intervals

API_KEY = os.getenv('API_KEY_OHLC')
BASE_URL = os.getenv('BASE_URL_OHLC')

def get_binance_ohlc(symbol, interval, start_time, end_time):
    params = {
        'symbol': symbol,
        'interval': interval,
        'startTime': int(start_time.timestamp() * 1000),
        'endTime': int(end_time.timestamp() * 1000),
        'limit': 10000
    }
    response = requests.get(BASE_URL, params=params, headers={'X-MBX-APIKEY': API_KEY})
    
    if response.status_code == 200:
        return response.json()
    else:
        print(f"Error: {response.status_code}")
        print(response.text)
        return None

def format_data(data):
    formatted_data = []
    for item in data:
        timestamp = item[0] / 1000
        date_time = datetime.datetime.fromtimestamp(timestamp)
        formatted_data.append({
            'datetime': date_time,
            'open': float(item[1]),
            'high': float(item[2]),
            'low': float(item[3]),
            'close': float(item[4])
        })
    return formatted_data


end_date = datetime.datetime.now()
start_date = end_date - datetime.timedelta(days=40)

data = get_binance_ohlc('ETHUSDT', '1h', start_date, end_date)

if data:
    formatted_data = format_data(data)
    
    ohlc_df_h = pd.DataFrame(formatted_data)
else:
    print("No data available or error in response.")

In [ ]:
# Fetch OHLC price data from Binance API at daily intervals

API_KEY = os.getenv('API_KEY_OHLC')
BASE_URL = os.getenv('BASE_URL_OHLC')

def get_binance_ohlc(symbol, interval, start_time, end_time):
    params = {
        'symbol': symbol,
        'interval': interval,
        'startTime': int(start_time.timestamp() * 1000),
        'endTime': int(end_time.timestamp() * 1000),
        'limit': 10000
    }
    response = requests.get(BASE_URL, params=params, headers={'X-MBX-APIKEY': API_KEY})
    
    if response.status_code == 200:
        return response.json()
    else:
        print(f"Error: {response.status_code}")
        print(response.text)
        return None

def format_data(data):
    formatted_data = []
    for item in data:
        timestamp = item[0] / 1000
        date_time = datetime.datetime.fromtimestamp(timestamp)
        formatted_data.append({
            'datetime': date_time,
            'open': float(item[1]),
            'high': float(item[2]),
            'low': float(item[3]),
            'close': float(item[4])
        })
    return formatted_data


end_date = datetime.datetime.now() - datetime.timedelta(days=41)
start_date = end_date - datetime.timedelta(days=720)

data = get_binance_ohlc('ETHUSDT', '1d', start_date, end_date)

if data:
    formatted_data = format_data(data)
    
    ohlc_df_d = pd.DataFrame(formatted_data)
else:
    print("No data available or error in response.")

In [ ]:
ohlc_df_d['datetime'] = pd.to_datetime(ohlc_df_d['datetime'])
ohlc_df_d['datetime'] = ohlc_df_d['datetime'] - pd.Timedelta(hours=4)

In [55]:
ohlc_df.to_sql(name = 'df_ohlc'
            , con = engine
            , index = False
            , if_exists ='replace')

55

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [17]:
# Rename columns in the DataFrame
news.rename(columns={"time": "timestamp"}, inplace=True)
ohlc_df.rename(columns={"datetime": "timestamp"}, inplace=True)

In [18]:
news

                                                   text           timestamp
0     Cheap and speedy “rollup” networks like Arbitr... 2023-09-06 19:00:00
1     ,At Devcon 5 last week, CoinDesk’s Leigh Cuen ... 2019-10-15 19:30:00
2     With the sanctioning of Tornado Cash last week... 2022-08-17 15:30:00
3     Developer backend Alchemy has acquired blockch... 2022-08-25 20:12:00
4     Crypto startup Knabu is piloting bank regulato... 2019-10-31 22:05:00
...                                                 ...                 ...
2959  Microsoft has revealed it is organizing a work... 2016-09-01 13:50:00
2960  Computing giant Microsoft is rolling out a too... 2015-10-28 21:00:00
2961  The venture arm of the United Nations Children... 2017-08-08 14:30:00
2962  Following a week of thrilling price gains and ... 2017-08-19 09:21:00
2963  Social media network Kik is on the verge of la... 2017-06-21 11:30:00

[2961 rows x 2 columns]

In [19]:
ohlc_df

                  timestamp     open     high      low    close
0       2024-07-25 20:07:00  3143.93  3143.93  3139.37  3140.64
1       2024-07-25 20:08:00  3140.65  3141.47  3135.17  3135.81
2       2024-07-25 20:09:00  3135.82  3141.59  3133.33  3140.93
3       2024-07-25 20:10:00  3140.93  3142.86  3139.36  3139.40
4       2024-07-25 20:11:00  3139.41  3142.00  3137.60  3137.61
...                     ...      ...      ...      ...      ...
3642050 2017-08-17 19:22:00   308.71   308.71   308.03   308.03
3642051 2017-08-17 19:23:00   308.03   308.03   307.86   307.86
3642052 2017-08-17 19:24:00   307.86   308.03   307.86   307.86
3642053 2017-08-17 19:25:00   307.87   307.87   307.87   307.87
3642054 2017-08-17 19:26:00   307.87   307.97   307.87   307.87

[3642055 rows x 5 columns]

In [20]:
# Merge datasets based on the 'timestamp' column

merged_df_1 = pd.merge_asof(news.sort_values('timestamp'), 
                          ohlc_df.sort_values('timestamp'), 
                          on='timestamp', 
                          direction='forward')

In [21]:
merged_df_1

,text,timestamp,open,high,low,close
0,"Moving into the holiday season, the crypto 2.0...",2014-11-21 22:20:00,301.13,301.13,301.13,301.13
1,Toronto-based co-working space Decentral has r...,2014-11-27 09:14:00,301.13,301.13,301.13,301.13
2,The crypto 2.0 community has continued its ove...,2014-12-15 22:20:00,301.13,301.13,301.13,301.13
3,2014 may be remembered as the year the bitcoin...,2015-01-03 15:49:00,301.13,301.13,301.13,301.13
4,Day two of The North American Bitcoin Conferen...,2015-01-19 00:53:00,301.13,301.13,301.13,301.13
...,...,...,...,...,...,...
2956,"Blockchain protocol Alkimiya launched, introdu...",2024-07-23 12:00:00,3454.85,3454.85,3452.09,3453.08
2957,"Caldera, a ""rollup-as-a-service"" platform that...",2024-07-24 13:00:00,3460.17,3460.48,3459.78,3459.84
2958,"July 24: Hemi Labs announced the Hemi Network,...",2024-07-24 15:19:00,3467.04,3467.04,3466.00,3466.84
2959,Ether (ETH) is down over 7.5% in the first hou...,2024-07-25 06:02:00,3202.53,3208.31,3201.77,3207.80
2960,"Lumerin, a protocol on the Arbitrum blockchain...",2024-07-25 14:00:00,3175.57,3176.44,3173.25,3173.53

In [22]:
# Add a label to the dataset to indicate which news articles are associated with price changes

merged_df_1['price_difference'] = merged_df_1['close'] - merged_df_1['open']
merged_df_1['label'] = (merged_df_1['price_difference'] > 0).astype(int)
merged_df_1

,text,timestamp,open,high,low,close,price_difference,label
0,"Moving into the holiday season, the crypto 2.0...",2014-11-21 22:20:00,301.13,301.13,301.13,301.13,0.00,0
1,Toronto-based co-working space Decentral has r...,2014-11-27 09:14:00,301.13,301.13,301.13,301.13,0.00,0
2,The crypto 2.0 community has continued its ove...,2014-12-15 22:20:00,301.13,301.13,301.13,301.13,0.00,0
3,2014 may be remembered as the year the bitcoin...,2015-01-03 15:49:00,301.13,301.13,301.13,301.13,0.00,0
4,Day two of The North American Bitcoin Conferen...,2015-01-19 00:53:00,301.13,301.13,301.13,301.13,0.00,0
...,...,...,...,...,...,...,...,...
2956,"Blockchain protocol Alkimiya launched, introdu...",2024-07-23 12:00:00,3454.85,3454.85,3452.09,3453.08,-1.77,0
2957,"Caldera, a ""rollup-as-a-service"" platform that...",2024-07-24 13:00:00,3460.17,3460.48,3459.78,3459.84,-0.33,0
2958,"July 24: Hemi Labs announced the Hemi Network,...",2024-07-24 15:19:00,3467.04,3467.04,3466.00,3466.84,-0.20,0
2959,Ether (ETH) is down over 7.5% in the first hou...,2024-07-25 06:02:00,3202.53,3208.31,3201.77,3207.80,5.27,1
2960,"Lumerin, a protocol on the Arbitrum blockchain...",2024-07-25 14:00:00,3175.57,3176.44,3173.25,3173.53,-2.04,0

In [23]:
merged_df_1.rename(columns={"text":"content"},inplace=True)

In [24]:
# Convert or adjust the time data to ensure consistency and alignment with other datasets

ohlc_df = pd.concat([ohlc_df_h, ohlc_df_d], ignore_index=True)
ohlc_df['timestamp'] = pd.to_datetime(ohlc_df['datetime'])
ohlc_df['timestamp'] = ohlc_df['timestamp'].dt.tz_localize(None)
ohlc_df.drop(columns="datetime",inplace=True)
ohlc_df

         open     high      low    close           timestamp
0     3580.26  3616.06  3580.00  3607.87 2024-06-20 11:00:00
1     3607.87  3611.50  3583.20  3587.34 2024-06-20 12:00:00
2     3587.34  3591.45  3572.24  3580.72 2024-06-20 13:00:00
3     3580.73  3609.50  3575.49  3604.95 2024-06-20 14:00:00
4     3604.95  3625.96  3597.04  3598.94 2024-06-20 15:00:00
...       ...      ...      ...      ...                 ...
1675  3681.58  3721.52  3666.36  3706.40 2024-06-09 00:00:00
1676  3706.40  3713.67  3642.74  3667.85 2024-06-10 00:00:00
1677  3667.85  3673.00  3432.00  3497.33 2024-06-11 00:00:00
1678  3497.33  3659.01  3462.07  3560.12 2024-06-12 00:00:00
1679  3560.13  3561.65  3428.00  3469.40 2024-06-13 00:00:00

[1680 rows x 5 columns]

In [25]:
eth_news_0['timestamp'] = pd.to_datetime(eth_news_0['publishedAt'])
eth_news_0['timestamp'] = eth_news_0['timestamp'].dt.round('H')
eth_news_0['timestamp'] = eth_news_0['timestamp'].dt.tz_localize(None)
eth_news_0 = eth_news_0[["timestamp","content"]]

C:\Users\khach\AppData\Local\Temp\ipykernel_11368\1708526053.py:2: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  eth_news_0['timestamp'] = eth_news_0['timestamp'].dt.round('H')

In [26]:
eth_news_1['timestamp'] = pd.to_datetime(eth_news_1['date'])
eth_news_1['timestamp'] = eth_news_1['timestamp'].dt.round('H')
eth_news_1['timestamp'] = eth_news_1['timestamp'].dt.tz_localize(None)
eth_news_1.rename(columns={'snippet': 'content'},inplace=True)
eth_news_1 = eth_news_1[["timestamp","content"]]

C:\Users\khach\AppData\Local\Temp\ipykernel_11368\2053401991.py:2: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  eth_news_1['timestamp'] = eth_news_1['timestamp'].dt.round('H')

In [27]:
eth_news_2['timestamp'] = pd.to_datetime(eth_news_2['date'])
eth_news_2['timestamp'] = eth_news_2['timestamp'].dt.round('H')
eth_news_2['timestamp'] = eth_news_2['timestamp'].dt.tz_localize(None)
eth_news_2.rename(columns={'snippet': 'content'},inplace=True)
eth_news_2 = eth_news_2[["timestamp","content"]]

C:\Users\khach\AppData\Local\Temp\ipykernel_11368\381026021.py:2: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  eth_news_2['timestamp'] = eth_news_2['timestamp'].dt.round('H')

In [28]:
eth_news = pd.concat([eth_news_0, eth_news_1,eth_news_2], ignore_index=True)
eth_news.dropna(inplace=True)
eth_news

               timestamp                                            content
0    2024-07-09 10:00:00  Ethereum’s (ETH) Ethereum Foundation is initia...
1    2024-07-25 17:00:00  On their second day of trading, United States-...
2    2024-07-10 09:00:00  Ethereum is currently facing strong selling pr...
3    2024-07-23 18:00:00  The Securities and Exchange Commission (SEC)ha...
4    2024-07-18 21:00:00  Vitalik Buterin, Ethereum’s (ETH) co-founder, ...
...                  ...                                                ...
1037 2024-07-23 11:00:00  Popcat became the first cat-themed meme coin t...
1038 2024-07-20 11:00:00  Bitcoin (BTC) has been unable to go above $650...
1039 2024-07-22 11:00:00  If history is any guide, Ethereum could be on ...
1040 2024-07-23 12:00:00  The Ethereum ETFs approved by the SEC start tr...
1041 2024-07-23 13:00:00  It is quite difficult to surprise Vitalik Bute...

[1040 rows x 2 columns]

In [29]:
# Merge datasets based on the 'timestamp' column

merged_df_2 = pd.merge_asof(eth_news.sort_values('timestamp'), 
                          ohlc_df.sort_values('timestamp'), 
                          on='timestamp', 
                          direction='forward')

In [30]:
# Add a label to the dataset to indicate which news articles are associated with price changes

merged_df_2['price_difference'] = merged_df_2['close'] - merged_df_2['open']
merged_df_2['label'] = (merged_df_2['price_difference'] > 0).astype(int)
merged_df_2

,timestamp,content,open,high,low,close,price_difference,label
0,2017-03-25 00:00:00,Bitcoin is designed to provide an alternative ...,1225.02,1256.77,1180.00,1242.36,17.34,1
1,2017-08-15 00:00:00,Ethereum also allows for smart contracts – dig...,1225.02,1256.77,1180.00,1242.36,17.34,1
2,2017-11-07 00:00:00,Key Takeaways · Find a reputable exchange or t...,1225.02,1256.77,1180.00,1242.36,17.34,1
3,2018-01-30 00:00:00,Ether is a cryptocurrency used in Ethereum's g...,1225.02,1256.77,1180.00,1242.36,17.34,1
4,2018-02-20 00:00:00,Ethereum's (ETH) highest price in late 2021 wa...,1225.02,1256.77,1180.00,1242.36,17.34,1
...,...,...,...,...,...,...,...,...
1035,2024-07-28 10:00:00,As fear in the cryptocurrency market begins to...,3218.80,3232.00,3217.00,3221.98,3.18,1
1036,2024-07-28 11:00:00,The countdown begins for the biggest launch of...,3221.98,3227.69,3214.60,3227.69,5.71,1
1037,2024-07-28 12:00:00,Investors have only a few days left to join th...,3227.69,3228.57,3215.87,3228.56,0.87,1
1038,2024-07-28 13:00:00,"Experts predict that Toshi, one of the most po...",3228.57,3238.40,3226.70,3235.15,6.58,1
1039,2024-07-28 14:00:00,Base chain meme coins are making a strong come...,3235.15,3255.36,3233.05,3248.52,13.37,1

In [31]:
# Concatenate two merged datasets to create a unified dataset

df = pd.concat([merged_df_1,merged_df_2],ignore_index=True)
df

,content,timestamp,open,high,low,close,price_difference,label
0,"Moving into the holiday season, the crypto 2.0...",2014-11-21 22:20:00,301.13,301.13,301.13,301.13,0.00,0
1,Toronto-based co-working space Decentral has r...,2014-11-27 09:14:00,301.13,301.13,301.13,301.13,0.00,0
2,The crypto 2.0 community has continued its ove...,2014-12-15 22:20:00,301.13,301.13,301.13,301.13,0.00,0
3,2014 may be remembered as the year the bitcoin...,2015-01-03 15:49:00,301.13,301.13,301.13,301.13,0.00,0
4,Day two of The North American Bitcoin Conferen...,2015-01-19 00:53:00,301.13,301.13,301.13,301.13,0.00,0
...,...,...,...,...,...,...,...,...
3996,As fear in the cryptocurrency market begins to...,2024-07-28 10:00:00,3218.80,3232.00,3217.00,3221.98,3.18,1
3997,The countdown begins for the biggest launch of...,2024-07-28 11:00:00,3221.98,3227.69,3214.60,3227.69,5.71,1
3998,Investors have only a few days left to join th...,2024-07-28 12:00:00,3227.69,3228.57,3215.87,3228.56,0.87,1
3999,"Experts predict that Toshi, one of the most po...",2024-07-28 13:00:00,3228.57,3238.40,3226.70,3235.15,6.58,1
4000,Base chain meme coins are making a strong come...,2024-07-28 14:00:00,3235.15,3255.36,3233.05,3248.52,13.37,1

In [32]:
# Store the final dataset in the database

df.to_sql(name = 'df_teleg'
            , con = engine
            , index = False
            , if_exists ='replace')

1

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [35]:
# Function to tokenize news articles into individual words or tokens

news_texts = df['content'].tolist()
labels = df['label'].tolist()

tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')

def tokenize_function(examples):
    return tokenizer(examples['text'], padding='max_length', truncation=True)

In [ ]:
# Tokenize news articles to split text into individual words or tokens

train_texts, val_texts, train_labels, val_labels = train_test_split(news_texts, labels, test_size=0.1)


train_dataset = Dataset.from_dict({'text': train_texts, 'label': train_labels})
val_dataset = Dataset.from_dict({'text': val_texts, 'label': val_labels})


train_dataset = train_dataset.map(tokenize_function, batched=True)
val_dataset = val_dataset.map(tokenize_function, batched=True)

train_dataset = train_dataset.rename_column('label', 'labels')
val_dataset = val_dataset.rename_column('label', 'labels')

train_dataset.set_format('torch', columns=['input_ids', 'attention_mask', 'labels'])
val_dataset.set_format('torch', columns=['input_ids', 'attention_mask', 'labels'])

In [ ]:
# Import the model architecture for training

model = BertForSequenceClassification.from_pretrained('bert-base-uncased')

In [35]:
# Set up training arguments and initialize the trainer for model training

training_args = TrainingArguments(
    output_dir='./results',
    evaluation_strategy='epoch',
    learning_rate=2e-5,
    per_device_train_batch_size=8,
    per_device_eval_batch_size=8,
    num_train_epochs=3,
    weight_decay=0.01,
)

def compute_metrics(p):
    logits = p.predictions
    labels = p.label_ids
    predictions = logits.argmax(axis=-1)
    accuracy = accuracy_score(labels, predictions)
    return {'accuracy': accuracy}



trainer = Trainer(
    model=model,
    args=training_args,
    train_dataset=train_dataset,
    eval_dataset=val_dataset,
    compute_metrics=compute_metrics
)

c:\Users\khach\OneDrive\Документы\project\venv\lib\site-packages\transformers\training_args.py:1525: FutureWarning: `evaluation_strategy` is deprecated and will be removed in version 4.46 of 🤗 Transformers. Use `eval_strategy` instead
  warnings.warn(

In [ ]:
# Train the model using the training data and evaluate its performance on the validation set

trainer.train()
eval_results = trainer.evaluate()

In [ ]:
# Save the trained model to a file for future use or deployment

trainer.save_model('./final_model')
tokenizer.save_pretrained('./final_model')

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------